@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.h1-gral, .h1-destacado {
  font-size: 3.6em;
  font-variant: small-caps;
  color: rgb(88, 12, 116);
  text-align: center;
  margin: 50px;
}

.h1-destacado {
  text-transform: lowercase;
  font-style: italic;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-image: url(../img/backgrounds/molecula.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  background-image: url(../img/backgrounds/violet.jpg);
  background-size: cover;
  font-size: 12px;
}
nav img {
  width: 50px;
}
nav a {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  border-radius: 4cqmin;
}
nav a:hover,
nav a:focus {
  background-color: rgb(140, 117, 164);
  color: rgba(155, 104, 3, 0.596);
  transition: background-color 1s ease-out;
  outline: 0;
}

.botonera a {
  color: white;
}

footer {
  background-image: url(../img/backgrounds/violet.jpg);
  background-size: cover;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer p {
  font-size: 1.2em;
  color: rgb(106, 8, 8);
  font-variant: small-caps;
  margin: 0px;
}
footer img {
  width: 25px;
  height: 25px;
}

.img-footer {
  padding-left: 10px;
  padding-right: 10px;
}

.section-index {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 75px;
}

.parrafo-index {
  width: 40%;
  font-size: 1.6em;
  color: rgb(61, 3, 115);
  line-height: 40px;
}

.img-index {
  width: 45%;
}

.section-servicios {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 50px;
  gap: 5px;
}

.article-servicios {
  width: 25%;
  margin-bottom: 50px;
}

.img-servicios {
  height: 100px;
}

.h2-servicios {
  font-size: 2.4em;
  color: rgb(77, 10, 108);
  font-variant: small-caps;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parrafo-servicios {
  font-size: 1.2em;
  color: rgb(59, 3, 111);
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.img1-sobremi {
  margin-left: 10px;
  margin-bottom: 50px;
}

.parrafo-sobremi {
  font-size: 1.4em;
  color: rgb(59, 3, 111);
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  width: 50%;
}

.section1-sobremi {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.section2-sobremi {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.article-sobremi {
  margin-left: 50px;
  margin-right: 50px;
}

.img2-sobremi {
  height: 120px;
}

.h3-sobremi {
  font-size: 1.6em;
  color: rgb(66, 3, 124);
  font-variant: small-caps;
}

.section-preguntas {
  display: flex;
}

.contenedor-contacto {
  display: flex;
  justify-content: space-evenly;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  font-variant: small-caps;
  font-weight: 700;
}

.div-contacto {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.aside-contacto {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 1.4em;
  color: rgb(24, 2, 44);
  font-variant: small-caps;
  margin-top: 16px;
}
.aside-contacto img {
  width: 30px;
  height: 30px;
}

.div-dato-contacto {
  display: flex;
  margin: 5px;
  padding: 12px;
}
.div-dato-contacto p {
  margin-left: 16px;
  color: rgb(161, 111, 214);
  margin-top: 5px;
}

.div-iframe-contacto {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.h5-contacto {
  font-size: 1.2em;
  font-variant: small-caps;
  margin-bottom: 10px;
}

.iframe-contacto {
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  text-align: center;
}

.boton-contacto {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.7em;
  border-radius: 4cqmin;
  padding: 3px;
}
.boton-contacto:hover, .boton-contacto:focus {
  background-color: rgb(141, 95, 157);
  color: white;
  transition: background-color 1s ease-out;
  outline: 0;
}

.parrafo-participaciones {
  font-size: 1.6em;
  color: chocolate;
  text-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.grid {
  width: 99%;
  display: grid;
  text-align: center;
  align-items: center;
}

.template-areas {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "foto1 foto1" "foto2 foto3" "foto4 foto4" "foto5 foto6";
}

.template-areas {
  gap: 100px;
  padding: 100px 200px 200px 200px;
}

.galeria a img {
  object-fit: cover;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.foto5 {
  grid-area: foto5;
}

.foto6 {
  grid-area: foto6;
}

@media (width < 541px) {
  body {
    background-image: url(../img/backgrounds/molecula2.avif);
    background-repeat: repeat;
  }
  .nav-item {
    width: 30%;
  }
  .section-index {
    display: flex;
    flex-direction: column;
  }
  footer p {
    display: none;
  }
  .parrafo-index {
    width: 80%;
  }
  .img-index {
    width: 80%;
  }
  .section-servicios {
    display: flex;
    flex-direction: column;
  }
  .article-servicios {
    width: 90%;
  }
  .img1-sobremi {
    width: 90%;
    margin: 0 auto;
    padding: 0 auto;
  }
  .parrafo-sobremi {
    width: 80%;
    margin-top: 50px;
  }
  .contenedor-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-contacto {
    width: 90%;
  }
  .aside-contacto {
    width: 90%;
    margin-top: 50px;
  }
  .div-iframe-contacto {
    display: none;
  }
  .galeria {
    display: flex;
    flex-direction: column;
  }
}
@media (width < 321px) {
  .section-servicios {
    display: flex;
    flex-direction: column;
  }
  .section2-sobremi {
    display: flex;
    flex-direction: column;
  }
  .article-sobremi {
    margin: 0 auto;
    padding: 0 auto;
  }
  .contenedor-contacto {
    display: flex;
    flex-direction: column;
  }
  .form-contacto {
    width: 90%;
    margin: 0 auto;
    padding: 0 auto;
  }
  .aside-contacto {
    width: 90%;
    margin: 0 auto;
    padding: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
