footer {
    background-image: url(../img/backgrounds/violet.jpg);
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    p {
        font-size: 1.2em;
        color: rgb(106, 8, 8);
        font-variant: small-caps;
        margin: 0px;
        }

    img {
        width: 25px;
        height: 25px;
        }
}

.img-footer {
    padding-left: 10px;
    padding-right: 10px;
}