.section-index {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 75px;
}

.parrafo-index {
    width: 40%;
    font-size: 1.6em;
    color: rgb(61, 3, 115);
    line-height: 40px;
}

.img-index {
    width: 45%;
}