nav {
    position: sticky;
    top: 0;
    left: 0;
    background-image: url(../img/backgrounds/violet.jpg);
    background-size: cover;
    font-size: 12px;
    img {
        width: 50px;
        }
    a {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
        border-radius: 4cqmin;
    }
        a:hover,
        a:focus {
            background-color: rgb(140, 117, 164);
            color: rgba(155, 104, 3, 0.596);
            transition: background-color 1s ease-out;
            outline: 0;
            }
}

.botonera a {
    color: white;
}