.parrafo-participaciones {
    font-size: 1.6em;
    color: chocolate;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    width: 99%;
    display: grid;
    text-align: center;
    align-items: center;
}

.template-areas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "foto1 foto1"
        "foto2 foto3"
        "foto4 foto4"
        "foto5 foto6";
}

.template-areas {
    gap: 100px;
    padding: 100px 200px 200px 200px;
}

.galeria a img {
    object-fit: cover;
}

.foto1 {
    grid-area: foto1;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto5 {
    grid-area: foto5;
}

.foto6 {
    grid-area: foto6;
}