.section-servicios {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 50px;
    gap: 5px;
}

.article-servicios {
    width: 25%;
    margin-bottom: 50px;
}

.img-servicios {
    height: 100px;
}

.h2-servicios {
    font-size: 2.4em;
    color: rgb(77, 10, 108);
    font-variant: small-caps;
    margin-top: 20px;
    margin-bottom: 20px;
}

.parrafo-servicios {
    font-size: 1.2em;
    color: rgb(59, 3, 111);
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}