.img1-sobremi {
    margin-left: 10px;
    margin-bottom: 50px;
}

.parrafo-sobremi {
    font-size: 1.4em;
    color: rgb(59, 3, 111);
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    width: 50%;
}

.section1-sobremi {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.section2-sobremi {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.article-sobremi {
    margin-left: 50px;
    margin-right: 50px;
}

.img2-sobremi {
    height: 120px;
}

.h3-sobremi {
    font-size: 1.6em;
    color: rgb(66, 3, 124);
    font-variant: small-caps;
}